.container1 {
    background-image: url("../img/bg.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
}

/* logo 置中 */
.bc-img img {
    display: block;
    margin: auto;
    /* 設定圖片隨視窗調整大小 */
    max-width: 100%;
}

/* RWD版面時中間面板右側有1.5rem的margin，暫時先以important去蓋掉讓版面置中 */
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.center-block {
    width: 960px;
}

.img1 {
    width: 370px;
    /* 暫時設定回收服務品質按鈕隨視窗調整大小 */
    max-width: 100%;
    border-radius: 18px;
}

.img1:hover {
    box-shadow: 0px 0px 15px 10px #5bdeff;
}

.title {
    width: 100%;
    font-size: 2.1rem;
    font-weight: bolder;
    text-align: center;
    margin: 40px 0 10px 0;
    color: #11bbda;
    text-shadow: 5px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

/* 將圖片調整至符合視窗大小 */
.option-button img {
    width: 100%;
    border-radius: 18px;
}

.option-button img:hover {
    box-shadow: 0px 0px 15px 10px #5bdeff;
}

.block1 img {
    display: inline-block;
    width: 40%;
    margin: 10px;
}

.block2 img {
    display: inline-block;
    width: 40%;
    margin: 10px;
}

/* 去除連結藍色底線 */
.listbtn {
    color: #fff;
}

.listbtn:hover {
    color: #fff;
}

.img2 img {
    width: 100%;
}

/* footer */
/* 1200px以上畫面爆掉需修改＠media */
footer {
    background: #475268;
    color: #fff;
    font-weight: 500;

}

footer a {
    text-decoration:none;
    color: #fff;
}

footer a:hover {
    color: #fff;
}

